# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Power BI Temp Files
*.pbix.autorecovery

# OS Files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/


__pycache__/
*.pyc
venv/
node_modules/
dist/
.env
desktop.ini

*.sql